<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#14E6DD">
    
    <title>The Secure PWA 😎</title>
    
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>  
    <nav>
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="The unsecure website logo." style="max-height: 50px;">
        <h1>The Secure PWA 😎</h1>
        
        <ul class="topnav">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            
            {% if session.get('user') %}
                <li><a href="{{ url_for('success') }}">Success</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('signup') }}">Signup</a></li>
            {% endif %}
        </ul>
    </nav>

    <main>
        <div class="disclaimer">
            <em>This progressive web app has been written specifically for students studying the 'Secure Software Architecture' unit. The application has been written with intentional vulnerabilities that students are to identify and implement solutions. Users should not use this as a template or enter any real data when interacting with the application.</em>
        </div>
        
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/serviceWorker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    
    -->
</body>
</html>
